<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<template xmlns="http://www.aristaflow.de/adept2/processmodel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="3f6fa038-8534-453d-aa3a-e42d8ae2a974" version="16" xsi:schemaLocation="http://www.aristaflow.de/adept2/processmodel template.xsd http://www.w3.org/2000/09/xmldsig# xmldsig-core-schema.xsd">
   <name>Diagram 1</name>
   <description/>
   <processType/>
   <supervisorAgent>
      <agentID>-1</agentID>
      <agentName>supervisor</agentName>
      <orgPositionID>-1</orgPositionID>
      <orgPositionName>supervisor</orgPositionName>
   </supervisorAgent>
   <version/>
   <nodes>
      <node id="n0">
         <name>Start</name>
         <description/>
         <staffAssignmentRule/>
         <autoStart>false</autoStart>
      </node>
      <node id="n1">
         <name> </name>
         <description/>
         <staffAssignmentRule/>
         <autoStart>false</autoStart>
      </node>
      <node id="n2">
         <name>[Process 1] Start Event</name>
         <description/>
         <staffAssignmentRule>Agent()</staffAssignmentRule>
         <executableBusinessProcess>
            <activity id="22a4a346-6eb6-4d1e-aa60-325b8335d882">
               <ecName>de.aristaflow.form.GeneratedForm</ecName>
               <operationName>Generated Form</operationName>
               <name>Generated Form</name>
               <description origin="OPERATION"/>
               <implementationClass origin="ECD">de.aristaflow.adept2.extensions.generatedforms2.FormToolkitDataBindingEnvironment</implementationClass>
               <isSingleton origin="ECD">false</isSingleton>
               <guiContextID origin="ECD">SWTContext</guiContextID>
               <executionControlProperties origin="ECD">
                  <isSuspensible>true</isSuspensible>
                  <isResettable>true</isResettable>
                  <isClosable>true</isClosable>
               </executionControlProperties>
               <supportsViewOnly origin="OPERATION">true</supportsViewOnly>
               <supportsTestExecution origin="OPERATION">false</supportsTestExecution>
               <parameterChangePolicy>GENERIC</parameterChangePolicy>
            </activity>
         </executableBusinessProcess>
         <autoStart>false</autoStart>
      </node>
      <node id="n3">
         <name>[Process 1] Task 1</name>
         <description/>
         <staffAssignmentRule>Agent()</staffAssignmentRule>
         <executableBusinessProcess>
            <activity id="169116ff-976e-48fa-9aba-1ff9e80a1001">
               <ecName>de.aristaflow.form.GeneratedForm</ecName>
               <operationName>Generated Form</operationName>
               <name>Generated Form</name>
               <description origin="OPERATION"/>
               <implementationClass origin="ECD">de.aristaflow.adept2.extensions.generatedforms2.FormToolkitDataBindingEnvironment</implementationClass>
               <isSingleton origin="ECD">false</isSingleton>
               <guiContextID origin="ECD">SWTContext</guiContextID>
               <executionControlProperties origin="ECD">
                  <isSuspensible>true</isSuspensible>
                  <isResettable>true</isResettable>
                  <isClosable>true</isClosable>
               </executionControlProperties>
               <supportsViewOnly origin="OPERATION">true</supportsViewOnly>
               <supportsTestExecution origin="OPERATION">false</supportsTestExecution>
               <parameterChangePolicy>GENERIC</parameterChangePolicy>
            </activity>
         </executableBusinessProcess>
         <autoStart>false</autoStart>
      </node>
      <node id="n4">
         <name>[Process 2] Start Event</name>
         <description/>
         <staffAssignmentRule>Agent()</staffAssignmentRule>
         <executableBusinessProcess>
            <activity id="5f522932-e53e-4899-bbe5-dbb5fb1246b6">
               <ecName>de.aristaflow.form.GeneratedForm</ecName>
               <operationName>Generated Form</operationName>
               <name>Generated Form</name>
               <description origin="OPERATION"/>
               <implementationClass origin="ECD">de.aristaflow.adept2.extensions.generatedforms2.FormToolkitDataBindingEnvironment</implementationClass>
               <isSingleton origin="ECD">false</isSingleton>
               <guiContextID origin="ECD">SWTContext</guiContextID>
               <executionControlProperties origin="ECD">
                  <isSuspensible>true</isSuspensible>
                  <isResettable>true</isResettable>
                  <isClosable>true</isClosable>
               </executionControlProperties>
               <supportsViewOnly origin="OPERATION">true</supportsViewOnly>
               <supportsTestExecution origin="OPERATION">false</supportsTestExecution>
               <parameterChangePolicy>GENERIC</parameterChangePolicy>
            </activity>
         </executableBusinessProcess>
         <autoStart>false</autoStart>
      </node>
      <node id="n5">
         <name>[Process 2] Task 2</name>
         <description/>
         <staffAssignmentRule>Agent()</staffAssignmentRule>
         <executableBusinessProcess>
            <activity id="787c4683-2c03-4a8f-96d4-b51c03a0586f">
               <ecName>de.aristaflow.form.GeneratedForm</ecName>
               <operationName>Generated Form</operationName>
               <name>Generated Form</name>
               <description origin="OPERATION"/>
               <implementationClass origin="ECD">de.aristaflow.adept2.extensions.generatedforms2.FormToolkitDataBindingEnvironment</implementationClass>
               <isSingleton origin="ECD">false</isSingleton>
               <guiContextID origin="ECD">SWTContext</guiContextID>
               <executionControlProperties origin="ECD">
                  <isSuspensible>true</isSuspensible>
                  <isResettable>true</isResettable>
                  <isClosable>true</isClosable>
               </executionControlProperties>
               <supportsViewOnly origin="OPERATION">true</supportsViewOnly>
               <supportsTestExecution origin="OPERATION">false</supportsTestExecution>
               <parameterChangePolicy>GENERIC</parameterChangePolicy>
            </activity>
         </executableBusinessProcess>
         <autoStart>false</autoStart>
      </node>
      <node id="n6">
         <name> </name>
         <description/>
         <staffAssignmentRule/>
         <autoStart>false</autoStart>
      </node>
      <node id="n7">
         <name>End</name>
         <description/>
         <staffAssignmentRule/>
         <autoStart>false</autoStart>
      </node>
   </nodes>
   <dataElements/>
   <edges>
      <edge destinationNodeID="n1" edgeType="ET_CONTROL" sourceNodeID="n0">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
      <edge destinationNodeID="n2" edgeType="ET_CONTROL" sourceNodeID="n1">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
      <edge destinationNodeID="n3" edgeType="ET_CONTROL" sourceNodeID="n2">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
      <edge destinationNodeID="n4" edgeType="ET_CONTROL" sourceNodeID="n1">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
      <edge destinationNodeID="n5" edgeType="ET_CONTROL" sourceNodeID="n4">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
      <edge destinationNodeID="n5" edgeType="ET_SYNC" sourceNodeID="n3">
         <edgeType>ET_SYNC</edgeType>
      </edge>
      <edge destinationNodeID="n7" edgeType="ET_CONTROL" sourceNodeID="n6">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
      <edge destinationNodeID="n6" edgeType="ET_CONTROL" sourceNodeID="n3">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
      <edge destinationNodeID="n6" edgeType="ET_CONTROL" sourceNodeID="n5">
         <edgeType>ET_CONTROL</edgeType>
      </edge>
   </edges>
   <dataEdges/>
   <startNode>n0</startNode>
   <endNode>n7</endNode>
   <structuralData>
      <structuralNodeData nodeID="n0">
         <type>NT_STARTFLOW</type>
         <topologicalID>0</topologicalID>
         <branchID>0</branchID>
         <correspondingBlockNodeID>n7</correspondingBlockNodeID>
      </structuralNodeData>
      <structuralNodeData nodeID="n1">
         <type>NT_AND_SPLIT</type>
         <topologicalID>1</topologicalID>
         <branchID>1</branchID>
         <splitNodeID>n0</splitNodeID>
         <correspondingBlockNodeID>n6</correspondingBlockNodeID>
      </structuralNodeData>
      <structuralNodeData nodeID="n2">
         <type>NT_NORMAL</type>
         <topologicalID>2</topologicalID>
         <branchID>2</branchID>
         <splitNodeID>n1</splitNodeID>
         <correspondingBlockNodeID>n0</correspondingBlockNodeID>
      </structuralNodeData>
      <structuralNodeData nodeID="n3">
         <type>NT_NORMAL</type>
         <topologicalID>3</topologicalID>
         <branchID>2</branchID>
         <splitNodeID>n1</splitNodeID>
         <correspondingBlockNodeID>n0</correspondingBlockNodeID>
      </structuralNodeData>
      <structuralNodeData nodeID="n4">
         <type>NT_NORMAL</type>
         <topologicalID>4</topologicalID>
         <branchID>3</branchID>
         <splitNodeID>n1</splitNodeID>
         <correspondingBlockNodeID>n0</correspondingBlockNodeID>
      </structuralNodeData>
      <structuralNodeData nodeID="n5">
         <type>NT_NORMAL</type>
         <topologicalID>5</topologicalID>
         <branchID>3</branchID>
         <splitNodeID>n1</splitNodeID>
         <correspondingBlockNodeID>n0</correspondingBlockNodeID>
      </structuralNodeData>
      <structuralNodeData nodeID="n6">
         <type>NT_AND_JOIN</type>
         <topologicalID>6</topologicalID>
         <branchID>1</branchID>
         <splitNodeID>n0</splitNodeID>
         <correspondingBlockNodeID>n1</correspondingBlockNodeID>
      </structuralNodeData>
      <structuralNodeData nodeID="n7">
         <type>NT_ENDFLOW</type>
         <topologicalID>7</topologicalID>
         <branchID>0</branchID>
         <correspondingBlockNodeID>n0</correspondingBlockNodeID>
      </structuralNodeData>
   </structuralData>
</template>
